*{
	margin: 0;
	padding: 0;
}
.box{
	width: 400px;
	height: 200px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*http://www.cnblogs.com/xuemingyao/p/5829263.html*/
    overflow: hidden;

}
.quater-circle1{
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
	position: relative;
	left: -50px;
	top: -50px;
}
.quater-circle2{
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
	position: relative;
	left: 350px;
	top:50px;

}